In [1]:
import pandas as pd

total_students = 100
passed_all_subjects = 80
failed_one_subject = 10
failed_two_subjects = 7
failed_three_subjects = 3

pbf_0 = passed_all_subjects / total_students
pbf_1 = failed_one_subject / total_students
pbf_2 = failed_two_subjects / total_students
pbf_3 = failed_three_subjects / total_students

df = pd.DataFrame(data=[['failed in 0 subjects',0, pbf_0],['failed in 1 subject',1, pbf_1],['failed in 2 subjects',2, pbf_2],['failed in 3 subjects',3, pbf_3]], columns=['failed in x subjects','x', 'p(x)'])

df

   failed in x subjects  x  p(x)
0  failed in 0 subjects  0  0.80
1   failed in 1 subject  1  0.10
2  failed in 2 subjects  2  0.07
3  failed in 3 subjects  3  0.03